
body,html{
    height: 100%;
    margin: 0;
    
}
.bg{
    background-image: url(imagens/fundo\ preto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.gif{
    position: relative;
    left: 35%;
    top: 15%;
    height: 50%;
    border-radius: 10%;
}
.lista{
    position: relative;
    top: 10%;
    left: 45%;
    width: 100px;
    color: darkcyan;
}
.texto-da-intro{
    position: relative;
    top: 10%;
    left: 37.5%;
    color: darkcyan;
    width: 350px;
    }
    .introdução{
    position: relative;
    top: 30%;
    left: 35.5%;
    width: 100px;
    color: darkcyan;
    }
    .lista2{
    position: relative;
    top: 15%;
    left: 46%;
    width: 100px;
    color: darkcyan;
    }
    .gif2{
        position: relative;
        left: 35%;
        top: 15%;
        height: 50%;
        border-radius: 10%;
    }
    .botao{
        position: relative;
        left: 16%;
        bottom: -30%;
        border-radius: 20%;
        height: 40px;
        width: 70px;
        box-shadow: 0 0 300px 30px rgb(255, 198, 54);
        color: darkcyan;
        background-color: rgb(12, 12, 12);
    }
